﻿@model Project.Models.ViewModel
@*@model IEnumerator<Project.Models.ViewModel>*@
    @{

    }

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>

                First Name: @Model.User.FirstName

            </dt>
            <dt>
                Last Name: @Model.User.LastName
            </dt>
            <dt>
                Age: @Model.User.Age
            </dt>

            <hr />
        </dl>
    </div>
    <div>
        <hr />
        <br />
        <h4>Tasks</h4>

        <dl class="dl-horizontal">
            <ul>
                @foreach (var task in Model.Tasks)
                {

                    <li>Task Name: @Html.DisplayFor(modelItem => task.Name)</li>
                    <li>Completed: @Html.DisplayFor(modelItem => task.Completed)</li>
                    <p>@Html.ActionLink("Update Complete status", "EditTask", new { id = task.User_Id })</p>
                    <br />
                }
            </ul>


        </dl>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            @Html.ActionLink("Create Task", "CreateTask", new { id = Model.User.Id }) |
            @Html.ActionLink("Edit User", "Edit", new { id = Model.User.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </footer>
    </div>
